<h1>Convert <%= @original_currency %></h1>

Go <a href="/">back</a>.

<ul>
  <% @symbols.each do |each_symbol| %>
    <li>
      <a href="/<%= @original_currency %>/<%= each_symbol %>">Convert 1 <%= @original_currency %> to <%= each_symbol %>...</a>
    </li>
  <% end %>
</ul>
